# Database configuration
DB_HOST=host
DB_PORT=5432
DB_USER=username
DB_PASSWORD=password
DB_NAME=database

# App
HASH_SALT_ROUNDS=number_of_salt_rounds
JWT_SECRET=your_jwt_secret
THROTTLE_TTL=time_in_milliseconds
THROTTLE_LIMIT=number_of_requests_per_ttl
